# ignore MacOS finder cruft
.DS_Store

# ignore the build directory
build

# ignore the binary directory except for the documentation
bin
!bin/README.md

# ignore vim/gvim swap cruft
.*.swp

# third party binary dependencies
third_party/binary-deps/ffmpeg-ext
third_party/binary-deps/vulkan-ext
third_party/binary-deps/swiftshader-ext
